[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
alembic = "*"
flask-wtf = "*"
pycodestyle = "*"
pylint = "*"
rope = "*"
flask-sqlalchemy = "*"
flask = "*"
flask-migrate = "*"
sqlalchemy = "*"
wtforms = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.9"
